.title {
  h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    position: relative;
    vertical-align: top;
    z-index: 1;
    &::after {
      content: "";
      background-color: lightsalmon;
      border-radius: 50%;
      height: 45px;
      left: -15px;
      position: absolute;
      top: -8px;
      width: 45px;
      z-index: -1;
    }
  }
}
